@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

#panier-ico {
    position: fixed;
    right: 2%;
    top: 3.5em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    align-items: center;
    transition: all 1s;
}

#icocontainer  > i {
    position: absolute;
    margin-left: 25%;
    margin-top: 25%;
    color: white;
    transition: all 500ms;
    z-index: 4;
}

#icocontainer {
    z-index: 31;
    position: fixed;
    right: 3%;
    top: 1.5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    align-items: center;
    transition: all 1s;
    cursor: pointer;
}

#icocontainer:hover i {
    text-shadow: white 1px 0 10px;
}

#icocontainer:active .parentpanierwrapper {
    text-shadow: white 1px 0 10px;
}

.parentpanierwrapper {
    transition: all 1s;
    position: fixed;
    z-index: 3;
    right: 0px;
    top: 3em;
    width: 30em;
    height: 0;
    /* border-radius: 15px; */
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    overflow-y: scroll;
}

.parentpanierwrapper::-webkit-scrollbar {
    display: none;
  }

.panierbox {
    /* border: 1px solid rgba(255,255,255,0.18); */
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 2;
    align-items: center;
}

.itempanier {
    width: 90%;
    height: 10em;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 800ms;
}


.closeSvgPanier {
    width: 2em;
    height: 2em;
    position: relative;
    align-items: center;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    z-index: 2;
    cursor: pointer;
}

.closeSvgPanier > .fa-solid {
    margin-top: 0.2em;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    transition: all 500ms;
}

.closeSvgPanier:hover .fa-solid {
    color: white;
    text-shadow: white 1px 0 10px;
}

.imgitempanier {
    position: relative;
    display: inline-block;
    width: 9em;
    height: 9em;
    margin-top: 0.5em;
    margin-left: 1em;
    border-radius: 10px;
}

.imgitempanier > img {
    border-radius: 10px;
}

.txtitempanier {
    position: relative;
    display: inline-block;
    width: 9em;
    height: 9em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 2em;
}

.txtitempanier > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.txtitempanier p {
    margin: 0;
    padding: 0;
	font-family: 'Amatic SC', serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: white;
}


.itemoption {
    width: 90%;
    height: 10em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.itemoption > h2 {
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
	font-family: 'Amatic SC', serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: white;
}

.itemoption > p {
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

.inputpanier {
    display: block;
    position: relative;
    margin-left: auto;
    margin-top: 1em;
    margin-right: auto;
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;
    height: 3rem;
    margin-bottom: 1em;
    width:100%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(213, 222, 232);
    font-family: 'Laila' , serif;
}

.inputpanier:hover {
    box-shadow: inset 0 0 0.6em white, 0 0 1em white;
    transition: all;
    transition-duration: 500ms;
}


.containerDivbis { /* ligne */
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    margin-left: 25%;
    outline: none;
}

.formPanier {
    display: block;
    position: relative;
}

.containerDivbis input { 
    width: 10%;
    height: 1.2em;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(213, 222, 232);
    outline: none;
    color: #fff;
    font-size: 1em;
}

.containerDivbis > span { 
    position: absolute;
    left: 0;
    top: 0;
    padding: 28px;
    pointer-events: none;
    font-size: 1em;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 1);
    transition: all 500ms;
    border-radius: 20px;
    font-family: 'Amatic SC', serif;
}
.containerDivbis input:valid ~ span,
.containerDivbis input:focus ~ span {
    color: white;
    transform: translateX(10px);
    padding: 0 10px;
    margin-left: 15px;
    border-left: 1px solid rgb(213, 222, 232);
    border-right: 1px solid rgb(213, 222, 232);
    letter-spacing: 0.1em;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    background : rgb(43, 40, 40);
}

.containerDivbis input:focus {
    box-shadow: inset 0 0 0.20em white, 0 0 8em white;
}


.containerDivbis > label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    width: 100px;
    text-align: left;
}
.containerDivbis > P {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin: 5px;
}

.buttonAddPanier {
    display: block;
    position: relative;
    margin-left: auto;
    margin-top: 1em;
    margin-right: auto;
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;
    height: 2rem;
    width:50%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(213, 222, 232);
    font-family: 'Laila' , serif;
}

.buttonAddPanier:hover {
    box-shadow: inset 0 0 0.6em white, 0 0 1em white;
    transition: all;
    transition-duration: 500ms;
}

.shopcontainer {
	position: relative;
    background-color:gray;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex:1 1 2;
}

.shopcontainer > div {
	display: block;
	width: 33.33%;
	height: 25em;
}

.shopcontainer > div > div {
	position: absolute;
	width: 33.33%;
	opacity: 0;
	height: 0em;
	margin-top: 25em;
    background-color: rgba(19, 20, 20, 0.719);
	transition: all 500ms;
}

.shopcontainer > div:hover > div {
	height: 9em;
	transform: translateY(-9em);
	opacity: 1;

}

.formPanier {
	width: 100%;
}

.qte {
	width: 3em;
}