<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="images/favicone/logo.svg"/>
        <link rel="stylesheet" href="styles/admin.css">
        <title>Articraft - Admin</title>
    </head>


    <body>
        <div id="header">
            <h1>Administration</h1>
        </div>

        <div id="containerProduit">
            <div class="sectionProduit">
                <div class="imgContainer"><img alt="produit" src="images/palliote.png"></div>
                <div class="labels">
                    <p>Article :</p>
                    <p>Quantité en stock :</p>
                    <p>Couleur :</p>
                </div>

                <div class="action">
                    <div><p>Quantité : </p><input type="number" class="inputProduit"required="required"></div>
                    <div><p>Seuil : </p><input type="number" class="inputProduit"required="required"></div>
                    <div><p>Prix : </p><input type="number" class="inputProduit"required="required"></div>
                </div>
            </div>
        </div>

        <div id="containerAjout"></div>
        <div id="containerRecherche"></div>
    </body>
</html>