/*Ecran petit*/
/*--------------------------------------------------------------------------*/ 
@media (max-width: 750px) {
	
	/*Met le background uniquement sur la page d'acceuil*/ 
	nav > ul {
		background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
		border: 1px solid rgba(255,255,255,0.18);
	}

	/*Met le background uniquement sur la page d'acceuil*/ 
	.submenu {
		background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
		-webkit-backdrop-filter: blur(100px);
		backdrop-filter: blur(10px);
		box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
		border: 1px solid rgba(255,255,255,0.18);

	}
	
	/*Sur les autre pages "acceuil exclu" la bordure apparaitra mais pas le background*/ 
	.subunique > li:hover {
		opacity: 0.8;
		border-bottom: 1px dotted white;
	}
}

/*Met le background uniquement sur la page d'acceuil*/ 
nav {
	position: absolute;
	background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
}